body{
    background-color: aquamarine;
}

.cdr{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

#c1{
    background-color: red;
}
#c2{
    background-color: #ff0033;
}
#c3{
    background-color: #ff0066;
}
#c4{
    background-color: #ff0099;
}
#c5{
    background-color: #ff00cc;
}
#c6{
    background-color: #ff00ff;

}

footer{
    background-color: cadetblue;
    text-align: center;
    height: 50px;
}